# Assignment 3

### Write a function to count the number 4 in a given list.

In [10]:
def count(list):
    print(list.count(4))
    
my_list = [4,5,4,6,4,33,11,4,14,4]
count(my_list)

5

### write a  function to check whether a number is divisible by another number.

In [30]:
def division(n1,n2):
    if n1%n2 == 0:
        print ("divisible")
    else:
        print('undivisible')

In [32]:
division(14,3)

undivisible

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [18]:
def max_min(list):
    list.sort()
    print (f' max value is : {list[-1]} \n min value is : {list[0]} ')
    
max_min([20,8,4,-10,0])

 max value is 20
 min value is -10 :

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [81]:
def common_list(L1,L2):
    set1 = set(L1)
    set2 = set(L2)
    if set1.isdisjoint(set2) == 1:
        print('False')
    else:
        print('True')

In [83]:
L1 = [5,6,7,8]
L2 = [1,2,0,4]
common_list(L1,L2)

False

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [19]:
def factorial(x):
    if x == 0:
        return 1
    else:
        return x * factorial(x-1)

x = int(input('enter a positive number :')) 
print(factorial (x))

enter a positive number :3
6

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [39]:
def check(num):
    
    if num >= 3 and num <= 11:
        print ('The number is in the range')
    else:
        print ('The number is not in the range')

In [40]:
check(5)

The number is in the range

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [35]:
for i in range(1,11):
    for j in range(1,11):
        print(i, 'x', j, '=' ,j*i)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [106]:
def less_of_two_evens(n1,n2):
    if n1%2 and n2%2 == 0 :
        if n1 < n2: print(n1)
        else: print(n2)
    if n1%2 or n2%2 != 0: 
        if n1 < n2: print(n2)
        else: print(n1)

In [109]:
less_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def same_letter(str):
    word = str.split()
    
    if word[0][0]==word[1][0]:
        print('true')
    else:
        print('false')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [91]:
def makes_twenty(a,b):
    if a or b or a+b == 20:
        return 'True'
    else: return 'False'

In [94]:
makes_twenty(2,18)

'True'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [116]:
def almost_there(num):
    if abs(100-num) or abs(200-num) <= 10:
        return 'True'
    else:
        return 'False'

In [146]:
almost_there(104)

'True'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [141]:
def blackjack(n1,n2,n3):
    sum = n1+n2+n3
    if sum <= 21:
        return sum
    elif sum > 21 and n1 or n2 or n3 == 11:
        return (sum - 10)
    else:
        return 'BUST'

In [144]:
blackjack(11,11,11)

23